<div class="col-12">
    <div class="input-group mt-2">
        <select name="servo" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option value="0" selected>Selecione o Motor</option>
            <option value="2">Motor 1</option>
            <option value="3">Motor 2</option>
            <option value="4">Motor 3</option>
            <option value="5">Motor 4</option>
            <option value="6">Motor 5</option>
        </select>
        <input name="anguloServo" type="number" class="form-control" placeholder="Ângulo" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btn btn-outline-secondary" type="submit">Girar</button>
    </div>
    <hr>
</div>