<div class="col-12">
    <div class="input-group mt-2">
        <select name="servo" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option value="0" selected>Selecione o Motor</option>
            <option value="11">Motor 1 - Base</option>
            <option value="12">Motor 2 - Braço 1</option>
            <option value="3">Motor 3 - Braço 2</option>
            <option value="5">Motor 4 - Garra</option>
        </select>
        <input name="anguloServo" type="number" class="form-control" placeholder="Ângulo" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    <hr>
</div>